@model IEnumerable<DocumentFlow.Models.OutboxDocumentModel>

@{
    ViewBag.Title = "Система документооборота";
}

<h2>@ViewBag.Title. Панель делопроизводителя</h2>

<p>
    @Html.ActionLink("Добавить документ", "Create", "OutboxDocument", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocIndex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeadResolution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeadResolutionLogin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaveTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteToDocument)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadResolution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadResolutionLogin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaveTime)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.DocumentFile)*@
                <a href="~/OutboxDocuments.Files/@Html.DisplayFor(modelItem => item.DocumentFile)">Скачать файл</a>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteToDocument)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
